.cover__link {
  width: 100%;
  margin: 0 auto;
  background-image: url(../../../images/depo.png);
  padding: 245px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__link:hover {
  opacity: 0.8;
  background: linear-gradient(
      to right,
      rgba(42, 44, 47, 0.8),
      rgba(42, 44, 47, 0.8)
    ),
    url(../../../images/depo.png) no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 100%;
    padding: 195px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 100%;
    padding: 115px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
    max-width: 100%;
    padding: 33px 0;
  }
}
