.footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width:458px) {
    .footer__content {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .footer__content {
        justify-content: center;
        gap: 20px;
    }
}